# 🔹 FastAPI y Uvicorn (servidor ASGI)
fastapi
uvicorn

# 🔹 Conexión a MongoDB con PyMongo
pymongo
motor  # Si decides usar consultas asíncronas con MongoDB

# 🔹 Manejo de variables de entorno
pydantic-settings

# 🔹 Validación de correos electrónicos en Pydantic
email-validator

# 🔹 Certificados SSL/TLS para MongoDB Atlas
certifi


#pip install -r requirements.txt

# uvicorn app.main:app --reload
# python -m venv venv
# venv\Scripts\activate
# pip install -r requirements.txt
# Set-ExecutionPolicy Unrestricted -Scope CurrentUser